= f.label "Name"
= f.text_field :title
%br
= f.label "Description"
= f.text_area :description
%br
= f.label "Price"
= f.text_field :price
%br
= f.label "Star Rating"
= f.text_field :rating
%br
= f.label "Availability"
= f.text_area :availability
%br
